# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Environnements virtuels
venv/
env/
.venv/
ENV/

# Django
*.sqlite3
*.log
local_settings.py
db.sqlite3

# Secrets
*.key
*.pem
*.env
*.txt

# Visual Studio Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# Git
.gitignore

# Artefacts de test ou backup
*.bak
*.tmp
*.swp
*~*
